.stories{
    min-width: 5rem;
}

.story{
    min-width: 5rem;
}

.story-img{
    min-height: 28rem;
    height: 28rem !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

.story-img-laptop{
    border-radius: .5rem;
    min-height: 27rem;
    height: 27rem !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center !important;
}

.comment-input{
    border-radius: 1rem;
    padding: 3px;
    padding-left: 6px;
    height: 2.3rem;
    width: 85%;
    color: black;
    border: 2px solid black;
    outline: black;
    flex: 1;
}

.story-comment{
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    text-align: center;
}

.story-beads{
    background-color: #00000042;
}

.story-container{
    overflow-x: scroll;
}

.story-container::-webkit-scrollbar{
  height: 1rem;
}

.laptop-comment-input{
    padding: .5rem;
    padding-right: 2rem;
    border-radius: 100px;
    height: 2.5rem;
    outline: white;
    width: 20.9rem;
    margin-left: -.7rem;
}

.laptop-comment-input::-webkit-scrollbar{
    width: 1rem;
    cursor: pointer;
}

.laptop-send{
    position: relative;
    margin-left: -3rem;
    font-size: large;
}

textarea{
    resize: none;
}

.view-bg{
    
    background-color: rgba(0, 0, 0, 0.479);
}

.view-con{
    background-color: rgba(0, 0, 0, 0.527);
}


.view-div::-webkit-scrollbar{
    width: .2rem;
    cursor: pointer;
}

.view-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

.view-div::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid slategrey;

}