.follower-container-item {

    font-size: .8rem;
}

.follower-container-item.active {
    font-weight: bold;
    color: black;
    border-bottom: 3px solid rgba(0, 0, 0, 0.452);
}

.follower-container-item:hover {
    font-weight: bold;
    color: black;
    border-bottom: 3px solid rgba(0, 0, 0, 0.452);
    transition: all;
    transition-duration: .1s;
}

.follow-btn {
   padding: .4rem 1.5rem;
   color: white;
   font-weight: bold;
   border-radius: .3rem;
   font-size: .7rem;
   text-align: center;
}

.unfollow-btn{
    padding: .4rem 1rem;
    color:rgba(0, 0, 0, 0.452);
    border: 1px solid rgba(0, 0, 0, 0.11);
    font-weight: bold;
    border-radius: .3rem;
    font-size: .7rem;
    text-align: center;
}